.navigation {
  display: flex;
  align-items: center;
}

.navigation-list-item {
  display: flex;
}

.navigation-list-link {
  display: block;
  font-family: var(--text-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-color);
  text-decoration: none;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  cursor: pointer;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cub);
}
.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}
.navigation-list .navigation-list-link.current {
  color: var(--accent-color);
}
.navigation-list {
  display: flex;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
