.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
}

.navigation-list-item {
  display: flex;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation-list-link {
  padding-top: 32px;
  padding-bottom: 32px;
  
  display: block;
  font-family: var(--text-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-color);
  text-decoration: none;
  position: relative;
  
  cursor: pointer;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cub);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  .navigation-list &.current {
    color: var(--accent-color);
  }
}
